[Unit]
Description=Auto-connect Bluetooth Speaker
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bluetoothctl connect PLACEHOLDER_BT_MAC
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
